---
version: 3

images:
  base_image:
    name: ghcr.io/ansible-community/community-ee-minimal:latest

dependencies:
  galaxy: requirements.yml
  python: requirements.txt
  system: bindep.txt
  ansible_core:
    package_pip: ansible-core
  ansible_runner:
    package_pip: ansible-runner

additional_build_steps:
  prepend_base: |
    RUN echo "Building custom execution environment"
  append_final: |
    COPY root-ca.pem /etc/pki/ca-trust/source/anchors/root-ca.pem
    RUN update-ca-trust
    RUN cat /etc/pki/ca-trust/source/anchors/root-ca.pem >> $(python3 -m certifi)
    ENV REQUESTS_CA_BUNDLE="/etc/pki/ca-trust/source/anchors/root-ca.pem"
    RUN echo "Custom execution environment built successfully"
